html {
  font-size: 87.5%; /* base is 16px. We want 14px. So 14/16 is 87.5% */
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: rgb(158, 158, 158); 
 /* background: #dfdfdf;  */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 /* background: rgb(158, 158, 158);  */
 background: #7b7373; 
}
